<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Dekko&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="icon" href="~/Content/Img/main/crochetIcon.png">
    <title>Crochet by JK</title>

    @Styles.Render("~/Content/css")

</head>
<body>

@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/react")
<script src="~/Scripts/aos/aos.js"></script>
<script src="~/Scripts/fileinput.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>